<!DOCTYPE html>
<html>
<head>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static "Generator/css/bootstrap.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "Generator/css/index.css" %}">
<meta content="text/html; charset=utf-16">
</head>
<div id="about">
	<p> The beats by drey project is an exploration into the randomness of music and lyrics. The back end consists of a multi-threaded web scraper that collects data from Genius.com and utilizes a markov chain to generate lyrics inspired by your favorite artists.
	</p>
</div>