<!DOCTYPE html>
<html>
<head>
{% load staticfiles %}
<script src="{% static "Generator/js/jquery.min.js" %}"></script>
<script src="{% static "Generator/js/Generator-ajax.js" %}"></script>
<script src="{% static "Generator/js/undo.js" %}"></script>
<link rel="stylesheet" type="text/css" href="{% static "Generator/css/bootstrap.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "Generator/css/index.css" %}">
<meta content="text/html; charset=utf-16">
</head>

<div id="title">
<h1>The Beats by (An)Drey Project</h1>
</div>
<div id="info" class="info">
	<p class="info">
	<h4><a id="about-click" href="#">What is this?</a></h4>
</p>
<div id="about">
	<p> 
		The beats by (An)drey Markov project is an experiment on the randomness of lyrics. The back end consists of a multi-threaded web scraper that collects data from Genius.com and utilizes a markov chain to generate lyrics inspired by your favorite artists.
	</p>
</div>
<section>
<div id="form" class="form">
<form  method="post" id="post-form">
	<table>
		<tr>
			<td><label for="artists_number"><h5>Number Of Artsists</h5></label></td>
			<td><select id="artists_number" name="artists_number">
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
			</select>
			</td>
		</tr>
	<td><label for="artist"><h5>Artist Name(s)</h5></label></td>
	<td>
	<ul id="names">
	<li><input id="artist_name" class="style-1" type="text" name="artist_name"></li>
	</ul>
</td>
</tr>
<tr>
	<td><label for="strength"> <h5>Randomness </h5></label></td>
	<td><select id="strength" name="strength">
		<option value="1">1</option>
		<option value="2">2</option>
		<option value="3">3</option>
		<option value="4">4</option>
		<option value="5">5</option>
	</select>
	</td>
</tr>
	</table>
	<button type="button" class="btn btn-danger" value="Generate" id="form-button">Generate</button>
</form>
</div>
<h4> Popular Artists </h4>
<div id="available">
<ul id="availableList">
</ul>
</div>
</div>

<div id="content">
	<p class="info">
		<a href="#"><button type="button" id="back" class="btn btn-danger">Try Again</button></a>
	</p>
	<p id="loading-block"></p>
<div id="song">
	<p id="block-1"></p>
	<br>
	<p id="chorus-block"></p>
	<p id="block-2"> </p>
	<br>
	<p id="block-3"></p>
	<br>
	<p id="chorus"></p>
	<br>
	<p id="block-4"></p>
	<button type="button" class="btn btn-danger" value="incorrect" id="undo-button">These Lyrics Don't Sound Right
	</button>
</div>
<div class="loading">
	<img id="loader" src="{% static "Generator/gifs/103.gif" %}">
</div>
</div>
</section>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-55763942-2', 'auto');
  ga('send', 'pageview');

</script>
</html>